.navbar {
    background: rgba(20, 20, 20, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
}

.navbar .right_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}

.navbar .right_section .claim_button {
    background: #9B51E0;
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 10px 12px;
    height: 40px;
}

.navbar .right_section .claim_button.claimed {
    opacity: 0.4;
}

.navbar .right_section .claim_button svg {
    margin-right: 10px;
}

.navbar .right_section .create_button {
    background: linear-gradient(123.89deg, #FAC01E 8.56%, #FC762A 86.47%);
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 10px 12px;
    height: 40px;
    margin-left: 20px;
}

.navbar .right_section .create_button svg {
    margin-right: 10px;
    fill: #000000;
}

.navbar .right_section .connect_account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin-left: 16px;
}

.app .main_content .connect_button {
    background: linear-gradient(123.89deg, #FAC01E 8.56%, #FC762A 86.47%);
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 12px;
    height: 40px;
}

.navbar .right_section .connected_account {
    background: linear-gradient(123.89deg, rgba(250, 192, 30, 0.1) 8.56%, rgba(252, 118, 42, 0.1) 86.47%);
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    font-feature-settings: 'salt' on, 'ss02' on;
    color: #FFFFFF;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.navbar .right_section .connected_account:before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg,#0e151b,#000);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 100px;
}

.navbar .right_section .connected_account:after {
    content: "";
    background: linear-gradient(91.79deg,#fac01e 3.15%,#fc762a 85.66%);
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -2;
    border-radius: 100px;
}

.connected_account > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    cursor: pointer;
}

.connected_account .tokens {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    font-feature-settings: 'salt' on, 'ss02' on;
    color: #FFFFFF;
    margin-bottom: 2px;
}

.navbar .right_section .connected_account > div .hash_text {
    display: flex;
    align-items: center;
    text-align: right;
    color: #B7B7B7;
    max-width: 100px;
    text-transform: initial;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    font-feature-settings: 'salt' on, 'ss02' on;
}

.navbar .right_section .connected_account > div .hash_text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -1px;
}

/* Tabs */
.navbar .horizontal_tabs {
    background-color: unset;
    box-shadow: unset;
    width: auto;
}

.navbar .horizontal_tabs .tabs_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .horizontal_tabs .tabs_content .tab {
    background: unset;
    border-radius: unset;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #757575;
    border-bottom: 3px solid rgba(20, 20, 20, 0.9);
    min-width: unset;
    margin-right: 10px;
    text-transform: capitalize;
    opacity: 1;
    padding: 10px 16px;
    height: 60px;
    min-height: 60px;
}

.navbar .horizontal_tabs .tabs_content .tab.active_tab {
    background: unset;
    border-radius: unset;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.create_popover {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.create_popover .tab_section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-bottom: 2px;
}

.create_popover .tab_section:nth-child(odd) {
    margin-right: 2px;
}

.create_popover .tab_section:before {
    content: '';
    position: absolute;
    background: #1B1B1B;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}

.create_popover .tab_section:hover:after {
    content: '';
    background: linear-gradient(123.89deg, #FAC01E 8.56%, #FC762A 86.47%);
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -2;
    border-radius: 10px;
}

.create_popover .tab_section > svg {
    width: 30px;
    height: 35px;
    flex-shrink: 0;
}

.create_popover .tab_section .tab_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
    text-transform: capitalize;
}

.create_popover .tab_section .tab_details > span:nth-child(1) {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 6px;
}

.create_popover .tab_section .tab_details > span:nth-child(2) {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: left;
}

.create_popover .coming_soon {
    opacity: 0.46;
    cursor: unset;
}

.navbar .menu_icon,
.navbar .right_section .close_icon,
.navbar .right_section .horizontal_tabs {
    display: none;
}

@media (max-width: 900px) {
    .navbar .right_section {
        display: none;
    }

    .navbar .horizontal_tabs {
        display: none;
    }

    .navbar .menu_icon {
        display: initial;
    }

    .navbar .menu_icon svg,
    .navbar .show_nav_expansion .close_icon svg {
        color: #FFFFFF;
    }

    .navbar .show_nav_expansion .close_icon {
        display: initial;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .navbar .right_section.show_nav_expansion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(14, 14, 14, .2);
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(40px);
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        box-shadow: 0 0 30px #e7e4e9;
        padding: 80px 20px 20px;
        z-index: 999;
    }

    .navbar .right_section.show_nav_expansion .create_button {
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .navbar .show_nav_expansion .horizontal_tabs {
        display: flex;
        margin-top: 20px;
    }

    .navbar .show_nav_expansion .horizontal_tabs .tabs_content .tab {
        border-bottom: unset;
    }
}

@media (max-width: 530px) {
    .home .header .left_section {
        overflow-x: auto;
        padding: 2px;
    }
}
