.navbar {
    background: rgba(20, 20, 20, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar .right_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}

.navbar .right_section .claim_button {
    background: #2D9CDB;
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 10px;
    height: 40px;
}

.navbar .right_section .claim_button.claimed {
    opacity: 0.4;
}

.navbar .right_section .claim_button svg {
    margin-right: 10px;
}

.navbar .right_section .create_button {
    background: linear-gradient(90deg, #D61D6A 0%, #7645FF 100%);
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 10px 12px;
    height: 40px;
    margin-left: 20px;
}

.navbar .right_section .create_button svg {
    margin-left: 10px;
}

.navbar .right_section .connect_account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin-left: 16px;
}

.app .main_content .connect_button {
    background: linear-gradient(90deg, #D61D6A 0%, #7645FF 100%);
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 12px;
    height: 40px;
}

.navbar .right_section .connected_account {
    background: #1B1B1B;
    border-radius: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    font-feature-settings: 'salt' on, 'ss02' on;
    color: #FFFFFF;
    padding: 6px 14px;
    display: flex;
    align-items: center;
}

.connected_account > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.connected_account .tokens {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    font-feature-settings: 'salt' on, 'ss02' on;
    color: #FFFFFF;
    margin-bottom: 2px;
}

.navbar .right_section .connected_account > div .hash_text {
    display: flex;
    align-items: center;
    text-align: right;
    color: #B7B7B7;
    max-width: 100px;
    text-transform: initial;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    font-feature-settings: 'salt' on, 'ss02' on;
}

.navbar .right_section .connected_account > div .hash_text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -1px;
}

.connected_account .disconnect_button {
    max-width: unset;
    min-width: unset;
    margin-left: 10px;
    padding: 0;
}

/* Tabs */
.navbar .horizontal_tabs {
    background-color: unset;
    box-shadow: unset;
    width: auto;
}

.navbar .horizontal_tabs .tabs_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .horizontal_tabs .tabs_content .tab {
    background: unset;
    border-radius: unset;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #757575;
    border-bottom: 3px solid rgba(20, 20, 20, 0.9);
    min-width: unset;
    margin-right: 10px;
    text-transform: capitalize;
    opacity: 1;
    padding: 10px 16px;
    height: 60px;
    min-height: 60px;
}

.navbar .horizontal_tabs .tabs_content .tab.active_tab {
    background: unset;
    border-radius: unset;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.create_popover {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.create_popover .tab_section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-bottom: 2px;
}

.create_popover .tab_section:nth-child(odd) {
    margin-right: 2px;
}

.create_popover .tab_section:before {
    content: '';
    position: absolute;
    background: #1B1B1B;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}

.create_popover .tab_section:hover:after {
    content: '';
    background: linear-gradient(90deg, #D61D6A 0%, #7645FF 100%);
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -2;
    border-radius: 10px;
}

.create_popover .tab_section > svg {
    width: 30px;
    height: 35px;
    flex-shrink: 0;
}

.create_popover .tab_section .tab_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
    text-transform: capitalize;
}

.create_popover .tab_section .tab_details > span:nth-child(1) {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 6px;
}

.create_popover .tab_section .tab_details > span:nth-child(2) {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: left;
}

.create_popover .coming_soon {
    opacity: 0.46;
    cursor: unset;
}
