.navbar {
    background: rgba(20, 20, 20, 0.9);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar .right_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}

.navbar .right_section .claim_button {
    background: #2D9CDB;
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 10px;
    height: 40px;
    text-transform: capitalize;
}

.navbar .right_section .claim_button svg {
    margin-right: 10px;
}

.navbar .right_section .create_button {
    background: linear-gradient(90deg, #D61D6A 0%, #7645FF 100%);
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 10px 12px;
    height: 40px;
    margin-left: 20px;
}

.navbar .right_section .create_button svg {
    margin-left: 10px;
}

.navbar .right_section .connect_account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin-left: 16px;
}

.navbar .right_section .connect_button {
    background: linear-gradient(90deg, #D61D6A 0%, #7645FF 100%);
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-transform: unset;
    padding: 10px 12px;
    height: 40px;
}

.navbar .right_section .connected_account {
    background: #1B1B1B;
    border-radius: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    font-feature-settings: 'salt' on, 'ss02' on;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 6px 20px;
}

.connected_account .tokens {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    font-feature-settings: 'salt' on, 'ss02' on;
    color: #FFFFFF;
    margin-bottom: 2px;
}

.navbar .right_section .connected_account > div {
    display: flex;
    align-items: center;
    text-align: right;
    color: #B7B7B7;
    max-width: 100px;
    text-transform: initial;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    font-feature-settings: 'salt' on, 'ss02' on;
}

.navbar .right_section .connected_account > div p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -1px;
}

.profile_popover > div:nth-child(3) {
    background: #292935;
    border-radius: 10px;
    padding: 10px;
    min-width: 150px;
    min-height: 100px;
}

.profile_popover .profile_actions {
    display: flex;
    align-items: flex-end;
    width: auto;
    min-height: 100px;
}

.profile_popover .profile_actions button {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 8px 10px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(90deg, #D61D6A 0%, #7645FF 100%)
}

/* Tabs */
.navbar .horizontal_tabs {
    background-color: unset;
    box-shadow: unset;
    width: auto;
}

.navbar .horizontal_tabs .tabs_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .horizontal_tabs .tabs_content .tab {
    background: unset;
    border-radius: unset;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #757575;
    border-bottom: 3px solid rgba(20, 20, 20, 0.9);
    min-width: unset;
    margin-right: 10px;
    text-transform: capitalize;
    opacity: 1;
    padding: 10px 16px;
    height: 60px;
    min-height: 60px;
}

.navbar .horizontal_tabs .tabs_content .tab.active_tab {
    background: unset;
    border-radius: unset;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}
