.single_collection.home {
    background: unset;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.single_collection .breadcrumb {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 30px 20px 30px;
}

.single_collection .breadcrumb > p {
    cursor: pointer;
}

.single_collection .breadcrumb > span {
    margin: 0 5px;
}

.single_collection .breadcrumb > div {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.single_collection .coll_page {
    display: flex;
    padding: 0 30px;
    flex: 1;
}

.single_collection .collection_section {
    background: #292935;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 300px;
}

.single_collection .collection_section .section1 {
    border-radius: 50px;
    width: 174px;
    /*height: 174px;*/
    display: flex;
    align-items: center;
}

.single_collection .collection_section .section1 img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.single_collection .collection_section .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.single_collection .collection_section .section2 .row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.single_collection .collection_section .section2 .row1 > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.single_collection .collection_section .section2 .row1 img {
    margin-left: 10px;
}

.single_collection .collection_section .section2 .row2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.single_collection .collection_section .section2 .row2 .hash_text {
    max-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: initial;
    margin-left: 10px;
}

.single_collection .collection_section .section2 .row2 .hash_text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -1px;
}

.single_collection .collection_section .section2 .row3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    text-align: center;
}

.single_collection.home .header .right_section {
    opacity: 0;
}

.single_collection .data_table {
    flex: 1;
    overflow-y: auto;
}

.single_collection .collection_section .type {
    margin-top: 10px;
}

.single_collection .collection_section .chain_type {
    padding: 10px 20px;
    background: rgba(17, 255, 212, 0.1);
    border-radius: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #11FFD4;
}

.single_collection .collection_section .ibc_chain_type {
    background: rgba(186, 255, 39, 0.1);
    color: #BAFF27;
}

@media (max-width: 960px) {
    .single_collection .coll_page {
        flex-direction: column;
    }

    .single_collection .collection_section {
        margin: 0 0 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .single_collection .collection_section .section2 {
        align-items: flex-start;
        margin-left: 20px;
    }

    .single_collection .collection_section .section2 .row1,
    .single_collection .collection_section .section2 .row2,
    .single_collection .collection_section .section2 .row3 {
        align-items: flex-start;
        text-align: left;
    }

    .single_collection .data_table {
        margin: 0 0 30px 0;
        width: 100%;
    }
}

@media (max-width: 540px) {
    .single_collection .collection_section {
        flex-direction: column;
    }

    .single_collection .collection_section .section2 {
        margin-left: 0;
        margin-top: 20px;
        align-items: center;
    }

}
