.home {
    /*background: #22222C;*/
    height: calc(100vh - 80px);
    padding-bottom: 40px;
}

.home .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 30px;
}

.home .header .left_section {
    display: flex;
}

.home .header .center_section {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
    background: #33333F;
    border-radius: 50px;
    padding: 12px 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .header .center_section p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #2D9CDB;
    margin-left: 3px;
}

.home > .border {
    border: 0.5px solid #33333F;
    transform: rotate(0deg);
    margin: 0 14px;
    height: 1px;
}

.home .header .right_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.home .header .right_section button {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border-radius: 50px;
    z-index: 0;
    position: relative;
    text-transform: capitalize;
    padding: 10px 20px;
    margin-left: 20px;
}

.home .header .right_section button:before {
    content: '';
    position: absolute;
    background: #22222c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50px;
}

.home .header .right_section button:after {
    content: '';
    background: linear-gradient(180deg, #D61D6A 0%, #7645FF 100%);
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -2;
    border-radius: 50px;
}

.home .page_section {
    margin: 0 30px 30px 30px;
}
