.delist_dialog .delist_dialog_content {
    padding: 20px 0;
}

.delist_dialog .delist_dialog_content .result_image {
    width: 50px;
    margin-bottom: 20px;
}

.delist_dialog .delist_dialog_content .hash_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delist_dialog .delist_dialog_content .hash_card > p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.delist_dialog .delist_dialog_content .close_button {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.delist_dialog .delist_dialog_content h2 {
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.delist_dialog .delist_dialog_content .card .collection {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-feature-settings: 'zero' on, 'ss02' on;
    color: #FFFFFF;
    margin-top: 20px;
}

.delist_dialog .delist_dialog_content .card .nft {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #828282;
    margin-top: 10px;
}

.delist_dialog .delist_dialog_content .card img {
    width: 100px;
    height: 110px;
    border-radius: 5px;
}

.delist_dialog .delist_dialog_content .card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delist_dialog .delist_dialog_content .card .nft_id {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    padding: 8px 16px;

    background: rgba(20, 20, 20, 0.9);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    width: fit-content;
}

.delist_dialog .delist_dialog_content .card .nft_id .hash_text {
    max-width: 200px;
    display: flex;
    margin-right: 10px;
}

.delist_dialog .delist_dialog_content .card .nft_id .hash_text > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -1px;
}

.delist_dialog .delist_dialog_content .fields {
    display: flex;
    flex-direction: column;
}

.delist_dialog .delist_dialog_content .fields > div {
    margin-top: 10px;
}

.delist_dialog .delist_dialog_content .actions {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delist_dialog .delist_dialog_content .actions button {
    width: 50%;
}
