html, body, #root, .studio_v2, .main_content, .content_div {
    min-height: 100% !important;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: #171721;
    color: #ffffff;
    overflow: hidden;
}

p {
    margin: unset;
}
