html, body, #root, .studio_v2, .main_content, .content_div {
    min-height: 100% !important;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: #171721;
    color: #ffffff;
    overflow: hidden;
}

body > iframe {
    display: none;
}

p {
    margin: unset;
}

.dialog .primary_button, .side_panel .primary_button, .app .primary_button {
    background: linear-gradient(90deg,#d61d6a,#7645ff);
    border-radius: 5px;
    font-family: "Quantico",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #e7e7e7;
    padding: 10px 15px;
    text-transform: capitalize;
}

/* scroll bar */
.scroll_bar {
    overflow: auto;
}

html::-webkit-scrollbar,
.scroll_bar::-webkit-scrollbar {
    width: 13px;
}

html::-webkit-scrollbar-thumb,
.scroll_bar::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #757575;
}
