.data_table > div:first-child table thead tr th:first-child > div {
    justify-content: flex-start;
    padding-left: 20px;
}

.data_table > div:first-child table thead tr th:first-child {
    border-radius: 5px 0 0 0;
    text-align: left;
    justify-content: flex-start;
    border: 1px solid #33333F;
    border-right: unset;
}

.data_table > div:first-child table thead tr th:last-child {
    border-radius: 0 5px 0 0;
    justify-content: flex-end;
    border: 1px solid #33333F;
    border-left: unset;
}

.data_table > div:first-child table thead tr th:last-child > div {
    justify-content: flex-end;
    padding-right: 20px;
}

.data_table table thead tr th {
    padding: 8px 16px;
    border-top: 1px solid #33333F;
    border-bottom: 1px solid #33333F;

    background: linear-gradient(180deg, #444458 0%, #2E2E3D 100%);
    backdrop-filter: blur(2px);
}

.data_table table thead tr th:nth-child(1) span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.data_table table thead tr th div,
.data_table table thead tr th span {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data_table tbody {
    border: 1px solid #33333F;
    border-top: none;
}

.data_table table tbody tr td {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
    border-bottom: 1px solid #33333F;
    text-align: center;
    padding: 8px 16px;
}

.data_table table tbody tr:hover {
    background: rgba(20, 20, 20, 0.9);
}

.data_table table tbody tr:last-child td {
    border-bottom: unset;
}

.data_table table tbody tr:last-child {
    border-bottom: unset;
}

.data_table table tfoot tr td {
    background: linear-gradient(180deg, #444458 0%, #2E2E3D 100%);
    backdrop-filter: blur(2px);

    border-radius: 0 0 5px 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #757575;
}

.data_table table tfoot tr td p,
.data_table table tfoot tr td div {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #757575;
}

.data_table > div:first-child table tfoot tr td {
    border: 1px solid #33333F;
    border-top: unset;
}

.data_table table tfoot tr td svg {
    color: #757575;
}

.data_table > div {
    background: unset;
    box-shadow: unset;
}

.data_table > div > div:nth-child(2) {
    border-radius: 5px;
}

.data_table > div > div:nth-child(3)::-webkit-scrollbar-thumb {
    border: 0 solid #fff;
    box-shadow: inset 0 0 0 20px rgba(0, 0, 0, .24);
    border-radius: 20px;
    background: #fff;
}

.data_table > div > div:nth-child(3)::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4px;
}

tfoot div {
    color: #ffffff;
}
